* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Pen Script", cursive;
}
nav {
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
body {
  background-image: url(/aset/img2/Doodle.webp);
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}
i {
  color: #cd2b07;
  font-size: 25px;
}
footer div {
  border-top: 1px solid black;
}
.socmed-wrapper {
  padding: 30px;
  width: 300px;
}

/* Batas Global */

.card-wrapper {
  width: 80%;
  /* background-color: #cd2b07; */
}
.card {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
p.card-text {
  text-align: justify;
  font-size: 20px;
}
.download {
  border-top: 1px solid black;
  padding-top: 20px;
  font-size: 20px;
}
/* Breakpoints */
@media screen and (max-width: 576px) {
  .card-text {
    font-size: 1rem;
    margin: 0;
  }
  .p-5 {
    padding: 0 10px !important;
  }
}
