* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Pen Script", cursive;
}
nav {
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
body {
  /* background-color: rgb(112, 186, 112);
    background: linear-gradient(rgb(112, 186, 112), #cce4d8); */
  background-image: url(/aset/img/Doodle.jpg);
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}
i {
  color: #cd2b07;
  font-size: 25px;
}
footer div {
  border-top: 1px solid black;
}
.socmed-wrapper {
  padding: 30px;
  width: 300px;
}

/* Batas Global */
