* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Pen Script", cursive;
}
nav {
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
body {
  background-image: url(/aset/img2/Doodle.webp);
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}
.form-wrapper {
  /* align-items: center; */
  margin: 0 auto;
  width: 80vw;
  flex-direction: column;
  height: 90vh;
}
.textarea {
  /* resize: none; */
  height: 50%;
}
textarea,
#name,
#topics {
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
.textarea textarea {
  resize: none;
  height: 90% !important;
}
.btn {
  color: black;
}
i {
  color: #cd2b07;
  font-size: 25px;
}
footer div {
  border-top: 1px solid black;
}
.socmed-wrapper {
  padding: 30px;
  width: 300px;
}
