* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Pen Script", cursive;
}
nav {
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
body {
  /* background-color: rgb(112, 186, 112);
  background: linear-gradient(rgb(112, 186, 112), #cce4d8); */
  background-image: url(/aset/img/Doodle.jpg);
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}
i {
  color: #cd2b07;
  font-size: 25px;
}
footer div {
  border-top: 1px solid black;
}
.socmed-wrapper {
  padding: 30px;
  width: 300px;
}

/* Batas Global */

.me-wrapper {
  display: flex;
  /* background-color: blanchedalmond; */
  height: 500px;
}
.me-left,
.me-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
.me-left p,
.me-right p {
  text-align: center;
  background-color: white;
  display: inline-block;
  font-size: 25px;
  width: 200px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
.img {
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  width: 40%;
}
.me-img {
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
.about-me-warpper {
  text-align: center;
}
.about-me-warpper p {
  font-size: 25px;
  margin: 0;
}
.me-left p:hover,
.me-right p:hover {
  background: linear-gradient(45deg, #08ff00, #fff);
  border: none;
  border-radius: 5px;
  transition: all ease-in 0.2s;
}
@media screen and (max-width: 765px) {
  .me-wrapper {
    flex-direction: column;
    width: 100vw;
    /* background-color: #cd2b07; */
    align-items: center;
  }
  .me-left,
  .me-right {
    width: 100vw;
  }
  .img {
    width: 100vw;
  }
  .img img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
}
